model
/.github
/images
/icon
/sample
/shareCodes
/ModScript
/NoUsed
config.sample.sh.new
jd_update.js
package-lock.json

jd_checkCK.js

shell
README.MD
sign
root.json
main.js
SECURITY.md
/scf_test_event
tencentscf.js
update_list.sh
update_task.sh
passerby-b.boxjs.json
crontab.list
jd_model
jd_mf.js
jd_jxSign.js
jd_zhulima.js
jd_carnivalcity_help.js	
jd_joy_new.js
jd_mdou.js
jd_joypark_task.js
jd_work_ddworld.js
jd_esManager.js
#清理购物车
#jd_cleancart.js
jd_clean_car.js
gua_cleancart.js
jd_jmsign.js
jd_clean_car.js
jd_priceProtect.js
jd_jin_tie_xh.js
jd_jmzhl.js
jd_zsign.js
jd_big_winner_Mod.js	
jd_tyt_ks.js
jd_MovementFaker.js	
gua_city.js
# 城城分现金
jd_city.js
jd_speed_redEnvelope.ts
jd_redpocke.js
jd_tie.js
jd_newtask.js
jd_shop_sign2.js
jd_newtask.js
jd_park.js
jd_task.js
jd_plantBean2.js
########红包脚本锁佣########
gua_1111RedEnvelope.js
jd_read.js 
jd_redEnvelope.js
jd_red.js
jd_1111RedEnvelope.js	
jd_1111.js
jd_nhjred.js
jd_nhs_red.js
gua_nhjRed.js
# 年货节红包
jd_nhRed.js
jd_nhjRed.js
jd_nhRedEnvelope.js
jd_nh*.js
jd_nh_red.js
jd_nh_sign.js
jd_Red.js
##
jd_disable.py
jd_dreamFactory2.js
jd_selectionOfficer.js
jd_cfd2.js
jd_notifyHe1pu.js
jd_computer.js
jd_ks_fruit.js
jdCookie_xh.js
jd_opencard*.js
jd_bean_change_xh.js
jd_bean_change1.js
jd_bean_change_pro.js
jd_fruit?.js
jd_necklace.js
jd_exchange_joy.js
# 东东世界兑换
#jd_ddworld_exchange.js
jdd_jd_fcdyj.js
jd_zjd.js
jd_qjdSupermarket.js
jd_drawEntrance.js
jd_dreamfactory_tuan.js
jxgc_tuan.js
jd_SplitRedPacket.js
jd_try_xh.js
jd_star_shop.js
#店铺签到
#jd_dpqd.js
jd_SendBean.js
jx_cashback.js
jd_jddj_*.js
jd_jxgc_tuan.js
gua_redEnvelope.js 
jd_moneyTree_heip.js
jd_superMarket_qjd.js
jd_unsubscribe_xh.js
jd_work_unfollowShop.js
NoUsed_jd_DailyBonus_Mod.js
jd_jxsign.js
jd_big_winner_Mod.js
superbox.js
jxhlk.py
# 特务z
#jd_tw.js
#不能跑的特务z
jd_productZ4Brand.js
jd_productZ4Brand*.js

jingsubang.js
jd_jxqd_new.js
jd_vivo.js
jd_code.js
jd_enc.js
jd_help.js
#极速版红包
#jd_speed_redpocke.js
jd_jxred.js
jd_qjd_help.js
gua_RedEnvelope.js
jd_jx_factory.js
jd_jx_cashback.js
jd_sign_validate.js	
jd_ylynj.js
jd_speed_signfree_Mod.js
jd_tyt.js
jd_ttzdq.js
jd_kk1.js
jd_fcdyj_help.js
jd_ljd_xh.js
jd_fcwb_help.js
jd_MovementFaker.js
jd_dogsEmploy.js
jd_cjhz.js
jd_rush_vibo.js
jd_fcwb_auto.js
jd_fcwb_wb.js


jd_carnivalcity_help.js
jd_jddt.js
jd_syj_Mod.js
jd_nnfl.js
jd_fanli_Mod.js
jd_get_share_code.js
jd_work_price.js
jd_ddly.js
jd_fanli.py
jd_checkCk.js
jd_work_cookie.js

jd_exjxbeans.js

jd_jx_*.js

m_*.js
######重复脚本#######
# 财富岛珍珠兑换
#jd_cfd_pearl_ex.js
# he1pu的内置互助
zcodes.json
# 飞利浦重复
jd_FLP.js
jd_flp.js
# 蒙牛开卡重复
jd_mn.js
jd_mengniu.js
#不能跑的
jd_task_*.js
jx_task_*.js
creat.sh
jw_*.js
jr_*.js
#*.conf
jd_help_sendBean.js
jx_help_*.js
#大赢家助力
jd_dyj_help_wx.js
# 店铺签到shy
jd_shy_dpqd.js
jd_shy_dpqd?.js
# 通用脚本
*common_enc.js
# ck顺序调试工具
#jd_CkSeq.js
# 疑似互助码的json
starShop.json
lzdz1_*.json
jddj_*.json
jd_lzdz1.json
#*.json
# 内部互助脚本
jd_fruit_help.js
jd_pet_help.js
# 发现好货
jd_fxhh.js
# 小魔方
jd_xmf.js
jd_jmf.js
# 牛牛福利社
jd_nnfls.js
# 京东极速版
jd_speed_signfaker.js
# 极速免费
jd_speed_signfree.js
# 特务z
jd_superBrand.js
# 金榜年终奖
jd_split.js
# 粉丝互动
jd_wxFans.js
# 晓龙
jd_xiaolong.js
# 小魔方兑换
jd_mofang_exchange.js
# 东东世界
jd_ddworld.js
# 京东金融养猪
jd_work_pigPet.js
# 电器盲盒
jd_dqmh.js
# 农场集勋章
jd_medal_Mod.js
# 锦鲤助力
jd_koiHelp.js
jd_angryKoi.py
#jdjoy通用ID任务
jd_joyjd_open2.js
# 禁用重复任务
jd_disableDuplicateTasksImplement.py
# 炸年兽重
jd_zns.js
jd_zhaNS.js
#送豆得豆重复
jd_sddd.js
#健康社区收集能量
jd_z_health_energy.js
#wskey
jd_wskey.py
#萌虎摇摇乐
jd_tiger.js
#天天领压岁钱
jd_ttysq.js
#击鼓助力
jd_HappyNewYear_Shares.js
jd_drum.js
jd_HappyNewYear_Share.js
#invokekey获取
jd_work_invokeKey.js
#锦鲤
jd_redPacket.js
# 早起福利
jd_zqfl.py
#禁用重复任务
jd_identicalnew.py

#京东极速版红包
jd_speed_red.js
########过期活动##############

# 运动户外盲盒
jd_UnknownTask5.js
jd_hwmh.js
# 惊喜88红包
#jd_jxlhb.js
###开卡
jd_mt.js
#京东金融天天试手气
jd_btdraw.py
#农场集勋章
jd_medal.js
# 全民抢京豆8.6-8.16
jd_qjd.py
#点鞭炮赢京豆
jd_festival.js
#会场红包
jd_babel_red.js
#打豆豆
jd_dadoudou.js
############不能跑的################
# 通用游戏
jd_game.js
# 通用ID任务
jd_prodev_dailyTask.js
# 炸年兽
jd_zhanianshou.js
# 互助
share_code.js
#白条抽奖
jd_bt_sign.js
# 东东农场-集勋章合成兑换奖励
jd_fruit_medalExchange.py
# 财富岛100
jd_cfdhb100.py
jd_cfdhb111.py
# 冬香节
jd_dongxiang_benefits.py
#农场天天红包抽奖
jd_fruit_everydayRed.py
#转喜豆
jd_jd2xd.js
#店铺签到ff
jd_shopsign.js
#星店长
jd_xdz.py
fanli.js
jd_reward.ts
# 整点红包雨 longzhuzhu
jd_super_redrain.js
#超级无线店铺抽奖
jd_lzclient.js
#自动评价
jd_Evaluation.py


jd_anjia.js
jd_senbeans.js
jd_cfd_help.js
wx_*.js
jd_lzdz1_*.js
jd_jinggengjcq_*.js
jd_rush_*.js
#重复的评价
jd_evaluation.js
#发财大赢家助力
jd_fcdyj.js
#jd_card_collecting_common_enc.js
#jd_look_video_common_enc.js
#jd_share_common_enc.js
# 1111
#jd_xsqjd.js
jd_getred.py
jd_genz.js

jd_jx_cfd_pearl_exchange.js
jd_jx_factory_automation.js
jd_jx_mc_zn_exchange.js


jd_GoldcoinToGift.js
jd_ftzy.js
jd_aid_ftzy.js