##上传脚本1.0版本---参数说明

##############################################自定义合并上传仓库变量############################################
##自定义代理加速
github_proxy_url="https://ghproxy.com/"
#临时地址（没啥用处，垃圾变量，可以注释掉）
diy_folder=user1
#主第三方仓库————网络仓库—————（有且只能有一个）
diy_Third_party_warehouse_branch="master"
diy_Third_party_warehouse_url="https://github.com/whyour/qinglong.git"
#自定义————网络仓库—————(diy_feihebing为自定义文件夹，不填写即合并【所有文件】到根目录，改为其他即合并【文件夹】到根目录)
##fugai即是否覆盖同名文件，不填写或者1为强制覆盖，0为不覆盖（只有合并【所有文件】到到根目录时，此项才生效）
###若需要增加仓库，请按序号进行添加
#一号仓库
diy_party_warehouse_branch1="diy"
diy_party_warehouse1="https://github.com/kangwenhang/baibai.git"
diy_feihebing1=""
fugai1=""
#二号仓库
diy_party_warehouse_branch2="main"
diy_party_warehouse2="https://github.com/MoonBegonia/ninja.git"
diy_feihebing2="ninja"
#自定义————本地仓库—————（仅有一个）
#github用户名，授权码
diy_user_name="kangwenhang"
diy_user_email="kangwenhang@hotmail.com"
github_api="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
#提交名称及地址（commit不填写默认拉取主第三方库的更新日志）
diy_commit="提交测试"
diy_url="github.com/kangwenhang/baibai.git"
diy_branch="master"


######注意：为了脚本正常运行，请不要删除变量（可以不填写）######